<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores Predictor</title>
</head>

<form method="POST" action="">  
    <body>    
        <center> <h1> Scores Predictor </h1> </center>   
        <form>  
            <div class="container">   
                <label>Enter number of hours : </label>   
                <input type="integer" name = "hours" required>  
            
                <button type="submit">Submit</button>   
            </div>   
        </form>     
    </body>     

</html>